.menu{
    position: fixed;
    right: 0;
    left: 0;
    padding: 22px 32px;
    width: 15%;
    /* height: 100%; */
    background-color: #f1f1f1;
}
.menu h3{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #4a2632;
}
.menu ul{
    padding-bottom: 8px;    
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
}
.menu ul a{
    padding: 8px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -.02em;
    font-weight: 400;
    color: #222;
    text-decoration: none;
}
.menu ul a:hover{
    background-color: rgba(34,34,34,.12);
    cursor: pointer;
    border-radius: 20px;
    width: 85%;
}
.picked-link{
    border: solid 1px #4a2632;
    border-radius: 20px;
    width: 85%;
}